{
  "rules": {
    "color-hex-case" : "lower",
    "string-no-newline" : true,
    "property-no-unknown" : true,
    "keyframe-declaration-no-important": true,
    "comment-no-empty": true,
    "no-duplicate-at-import-rules": true,
    "no-extra-semicolons": true,
    "selector-max-universal": 0,
    "function-calc-no-unspaced-operator" : true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "block-no-empty" : true,
    "selector-max-id" : 0,
    "selector-pseudo-element-colon-notation" : "single",
    "media-feature-colon-space-before": "never"
  }
}