- var sampleDir = 'images/news/';

. 
  <div class="wysiwyg">
  <p><strong>ウィジウィグ</strong></p><p><u>ウィジウィグ</u></p><p><s>ウィジウィグ</s></p><p><s><strong><u>ウィジウィグ</u></strong></s></p><p><span style="color:hsl(30,75%,60%);">ウィジウィグ</span></p><p><span style="background-color:hsl(60,75%,60%);">ウィジウィグ</span></p><p><span style="background-color:hsl(90,75%,60%);color:hsl(240,75%,60%);">ウィジウィグ</span></p><p><a href="https://www.yahoo.co.jp/">ウィジウィグ</a></p><p><a href="https://www.yahoo.co.jp/">https://www.yahoo.co.jp/</a></p><ul><li>ウィジウィグ</li><li>ウィジウィグ</li></ul><ul style="list-style-type:circle;"><li>ウィジウィグ</li><li>ウィジウィグ</li><li>ウィジウィグ</li><li>ウィジウィグ</li><li>aa</li></ul><p class="text-center">ウィジウィグ</p><p class="text-right">ウィジウィグ</p><figure class="table"><table><tbody><tr><td>ウィジウィグ</td><td>ウィジウィグ</td><td>ウィジウィグ</td></tr><tr><td>ウィジウィグ</td><td>ウィジウィグ</td><td>ウィジウィグ</td></tr><tr><td>ウィジウィグ</td><td>ウィジウィグ</td><td>ウィジウィグ</td></tr></tbody></table></figure><figure class="media"><div data-oembed-url="https://www.youtube.com/watch?v=bjmBJ1Fl0cs"><div style="position: relative; padding-bottom: 100%; height: 0; padding-bottom: 56.2493%;"><iframe src="https://www.youtube.com/embed/bjmBJ1Fl0cs" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></div></figure><p>&nbsp;</p><br>											</div>
//- h3 見出しが入ります。見出しが入ります。見出しが入ります。
//- h4 小見出しが入ります。
//- p 普通のテキストです。
//- b Bタグテキストです
//- br
//- i Iタグテキストです
//- br
//- s 取り消し線のテキストです
//- br
//- u アンダーラインのテキストです
//- br
//- a(href="#") テキストリンクです
//- br
//- br
//- ul
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-     ul
//-       li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-       li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-       li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-       li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//- ol
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//-   li テキストが入りますテキストが入りますテキストが入りますテキストが入ります
//- p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
//- figure.table
//-   table
//-     thead
//-       tr 
//-         th テキストが入ります
//-         th テキストが入ります
//-         th テキストが入ります
//-         th テキストが入ります
//-     tbody
//-       tr 
//-         td テキストが入ります
//-         td テキストが入ります
//-         td テキストが入ります
//-         td テキストが入ります
//-       tr 
//-         td テキストが入ります
//-         td テキストが入ります
//-         td テキストが入ります
//-         td テキストが入ります