extends ../utils/_base.pug

block append stylesheet
  //- assetPathで自動でサブディレクトリ対応の/assets/のパスが出るようにしてあります。
  link(rel="stylesheet", href=assetPath + 'css/sitepolicy.css')

block subTitle
  - var pageTitle = 'サイトポリシー';

block main
  +lowerHead('images/text/site-policy.svg','SITE POLICY')
  .sitepolicy.data-list__wrapper
    .sitepolicy__inner.cmn__lower-inner
      p.sitepolicy__lead
        | このWebサイトは株式会社BLOCKSMITH&amp;Co.（以下「当社」とします）が運営しています。
        br
        | このWebサイトのご利用に先立ち、以下の利用条件をよくお読みいただき、これらの条件に同意された場合のみご利用ください。このWebサイトをご利用いただく場合は、全ての条件に同意されたとみなしますので、ご了承ください。
        br
        | なお、当社はこのWebサイトのご利用条件を予告なしに変更することがありますので、最新の内容をご確認いただきますよう、お願い申し上げます。
      .sitepolicy__main
        dl.sitepolicy__dl.data-list
          .data-list__row
            dt 推奨環境について
            dd
              | このWebサイトをより安全で快適にご利用いただくためには、最新のブラウザーソフトおよび端末のご利用を推奨いたします。
              ul
                li パソコンでの閲覧について
                  span.list-item-detail
                    | Windowsをご利用の方：Internet Explorer7.0Microsoft Edgex.xx以降、Google Chrome、Firefox
                    br
                    | Macintoshをご利用の方：Safari
                li スマートフォンでの閲覧について 
                  span.list-item-detail
                    | Apple iPhone iOS5搭載端末 Google Android 2.3以降/4.0以降搭載端末
          .data-list__row
            dt 著作権等について
            dd
              | このWebサイトに掲載されている情報、内容、商標、ロゴマーク等に関する著作権、商標権、その他の知的財産権は特に明記されていない限り、当社に帰属しています。
              br
              | 事前に当社から文書による承諾を得ることなく、私的利用その他法律によって明示的に認められる範囲を超えて、これらの一部または全部をそのままあるいは改変して転用、複製などをすることは一切禁止します。
          .data-list__row
            dt 掲載情報について
            dd
              | 当社はこのWebサイトに情報を掲載する際には細心の注意を払っておりますが、その内容の正確性・妥当性、ご利用目的への適合性、安全性について保証するものではありません。
              br
              | 当社は予告なしに掲載内容を変更・削除することがあります。
              br
              | また、Webサイト自体の運営を中断または中止させていただくことがあります。
          .data-list__row
            dt 禁止事項
            dd
              | このWebサイトのご利用に際し、次の行為を禁止します。
              ul
                li 第三者または弊社の財産もしくはプライバシーを侵害する行為、または侵害するおそれのある行為。
                li 第三者または弊社に、不利益もしくは損害を与える行為、またはそのおそれがある行為。
                li 第三者または弊社の名誉もしくは信用を毀損する行為。
                li 公序良俗に反する行為、またはその恐れのある行為。
                li 犯罪行為または犯罪に結びつく行為、またはそのおそれがある行為。
                li 他人の電子メールアドレスを登録する等、虚偽の申告、届出を行う行為。
                li 営業活動または営利を目的とする行為、またはその準備を目的とする行為。
                li コンピュータウイルス等有害なプログラムを使用もしくは提供する行為、またはそのおそれのある行為。
                li その他、法律、法令または条例に違反する行為、またはそのおそれのある行為。
                li その他、弊社が不適切と判断する行為。
          .data-list__row
            dt リンクについて
            dd
              | このWebサイトからもしくはこのWebサイトへリンクをはっている、当社以外の第三者のWebサイト（以下「リンクサイト」といいます）はそれぞれ各社の責任で管理されているものであり、当社の管理下にあるものではありません。リンクサイトはそれぞれの利用条件に従ってご利用ください。
              br
              | 当社はリンクサイトに掲載されている商品、サービス、会社などを推奨するものではなく、また、リンクは当社とリンクサイトとの間に提携などの特別な官営があるということを意味するものではありません。
              br
              | 当社はリンクサイトの内容について、また、それらをご利用になったことによるいかなる損害についても責任を負いません。
              ol
                li リンク先として設定するURLは
                  a(href="https://www.blocksmithand.co.jp/") https://www.blocksmithand.co.jp/
                  | としていただくとともに、当社のWebサイトであることを明記してください。なお、リンク先のURLを変更し、またはその運営を中止することがありますので、あらかじめご了承ください。
                li 本Webサイト内で使用されているロゴやアイコンをクリックボタンなどとして使用することは禁止します。
                li 当社の信用を損なうようなリンクの設定はお断りします。
                li 本Webサイトに記載されている内容は、予告なしに変更または中止されることがありますので、予めご了承ください。
          .data-list__row
            dt 免責事項
            dd
              | このWebサイトの利用は、お客様の責任において行われるものとします。
              br
              | このWebサイトをご利用中に発生した直接・間接の損失・損害に対し、当社はいかなる責任も負いません。
          .data-list__row
            dt 法準拠および管轄裁判所
            dd
              | このWebサイトのご利用並びに本ご利用条件の解釈および適用は、他に別段の定めのない限り、日本国法に準拠するものとします。
              br
              | また、このWebサイトの利用に関わるすべての紛争については、他に別段の定めのない限り、東京地方裁判所を第一審専属管轄裁判所とします。
          .data-list__row
            dt 各商標について
            dd
              ul
                li 「Windows」及び「Microsoft Edge」はMicrosoft Corporationの米国又はその他の国における登録商標または商標です。
                li AppleおよびAppleロゴは米国その他の国で登録された Apple Inc.の商標です。App StoreはApple Inc.のサービスマークです。
                li Android、Google Play、Google Playロゴおよびその他のマークは、Google LLCの商運です。






