@media (--sp) {
  .contact {
    width: 100%;
    height: auto;
    padding: 0 0 vw(160);
  }
  .contact__lead {
    padding: 0 0 vw(80);
  }
  .contact__complete {
    text-align: center;
    .ttl {
      font-size: vw(40);
      padding-bottom: 1.5em;
    }
    .btn-wrap {
      display: flex;
      justify-content: center;
      padding: vw(80) 0 0;
    }
    .btn {
      width: vw(560);
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e5e5e5;
      padding: 1.0em 0;
      border-radius: vw(100);
      position: relative;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: vw(40);
      }
    }
  }
}