extends ../utils/_base.pug

block append stylesheet
  //- assetPathで自動でサブディレクトリ対応の/assets/のパスが出るようにしてあります。
  link(rel="stylesheet", href=assetPath + 'css/privacy.css')

block subTitle
  - var pageTitle = 'プライバシーポリシー';

block main
  +lowerHead('images/text/privacy-policy.svg','PRIVACY POLICY')
  .privacy.data-list__wrapper
    .privacy__inner.cmn__lower-inner
      p.privacy__lead
        | 株式会社ＢＬＯＣＫＳＭＩＴＨ＆Ｃｏ．（以下、「当社」とします）では、お客様の個人情報に最大限の注意を払っています。お客様の個人情報を保護することが、当社の事業活動の基本であると共に、当社の社会的責務であると考えております。
        br
        | 当社は、責任をもってお客様の個人情報を保護するため、個人情報の保護に関し以下のとおり定め、社内体制の構築、施策の実施・維持、それらの継続的な改善を行っています。
      .privacy__main
        dl.privacy__dl.data-list
          .data-list__row
            dt 個人情報に対する考え方
            dd
              | 当社は、当社サービスを対象に、このプライバシーポリシーを実施します。当社サービスにおけるお客様の個人情報に対する考え方は以下のとおりです。
              dl.child-list
                .child-list__row
                  dt 1. お客様の個人情報の収集について
                  dd 当社では、当社サービスをご利用いただくために、お客様の個人情報をお教えいただくことがあります。原則として、お客様にお断りなく、お客様ご自身から個人情報を収集することはございません。当社が、お客様から個人情報をお教えいただく場合には、その利用目的を明らかにした上で個人情報の収集をいたします。（ただし、お客様から個人情報をお教えいただけない場合には、ご利用できない当社サービスがございますことをあらかじめご了解ください。）
                .child-list__row
                  dt 2. お客様の個人情報の利用について
                  dd 各当社サービスにおいて、あらかじめお客様に明示させていただきました利用目的の範囲内での利用に限定いたします。お客様から個人情報を収集させていただく際に明示した目的の範囲を超えてお客様の個人情報を利用する必要が生じた場合には、その旨お客様にお知らせいたします。
                .child-list__row
                  dt 3. お客様の個人情報の第三者への提供について
                  dd 当社がお客様から収集させていただきました個人情報は、以下の各号のいずれかに該当する場合を除き、第三者に提供することはありません。
                    ul
                      li お客様の事前の同意・承諾を得た場合。
                      li 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。
                      li 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。
                      li 国の機関若しくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。
                      li その他法令に基づく場合。
                .child-list__row
                  dt 4. 委託先の監督
                  dd 当社は、利用目的の達成に必要な範囲内において、お預かりした個人情報の取扱いを第三者に委託する場合があります。これらの第三者は、個人情報の取扱いにつき、十分なセキュリティ水準にあることを確認のうえ選定し、契約等を通じて、必要かつ適切な監督を行います。
                .child-list__row
                  dt 5. 個人情報の管理について
                  dd 当社は、お客様から収集させていただきました個人情報を適切、厳重に管理し、お客様の個人情報への不正なアクセスや情報の紛失、破壊、改ざん及び漏洩等が起きないよう、予防及び安全対策を講じております。
                .child-list__row
                  dt 6. 個人情報の開示、訂正、追加、削除、利用停止、消去または第三者提供の停止等の請求への対応について
                  dd 当社は、お客様から収集させていただきました個人情報を適切、厳重に管理し、お客様の個人情報への不正なアクセスや情報の紛失、破壊、改ざん及び漏洩等が起きないよう、予防及び安全対策を講じております。
                .child-list__row
                  dt 7. 業務運営について
                  dd 当社は、個人情報の保護に関する法律およびその関連法令並びにその他の規範に則った業務運営に努めてまいります。
                .child-list__row
                  dt 8. 継続的改善について
                  dd 当社は、個人情報の保護及び取扱いについて、継続的改善に努めてまいります。
          .data-list__row
            dt お客様へのお願い
            dd
              dl.child-list
                .child-list__row
                  dt 1. リンクされているWebサイトについて
                  dd 当社サービスにリンクされている第三者のWebサイトにおけるお客様の個人所法の安全確保については、当社が責任を負うことはできません。
                    br
                    | お客様ご自身にて、当社Webサイトにおける個人情報保護についての取扱基準（個人情報方針、プライバシー・ポリシー等、名称にはさまざまなものがございますが、個人情報やプライバシーという言葉が使われている場合が多いようです。）の内容を十分ご確認のうえ、取扱基準等が無い場合には当該Webサイトの担当部署・担当者に直接確認させるなどして、ご自身の個人情報の安全を確認されますようお勧めいたします。
                .child-list__row
                  dt 2. 国際的な当社関係会社について
                  dd 当社の海外子会社、関連会社など、日本国外に複数の関係会社がございます。お客様から取得した個人情報を、上記の「個人情報に対する考え方」に従い、必要に応じてお客様から同意をいただいたうえで、それらの官営会社と共有し、または取扱いの一部を委託させていただくことがございます。
                .child-list__row
                  dt 3. 第三者のウェブサイト、アプリケーションとのリンクについて
                  dd お客様がアカウントをお持ちのソーシャルネットワークサービス(SNS)や他の当社サービスとの相互連携のため、当社サービスからログイン、投稿などができる機能の組込みを行うことがあります。
                .child-list__row
                  dt 4. クッキーその他の情報について
                  dd 当社サービスにおいては、Cookies（クッキー、当社サービスのサーバーからお客様のブラウザに送信できる少量のデータであり、お客様のコンピューターを識別するタグ情報として保存されるものです）を利用することがあります。クッキーは、当社サービスの利便性向上のたえに使用されることが多く、直ちに個人情報と結びつくものではありませんが、クッキーを利用することにより、すでにいただいているお客様の情報を表示する、お客様独自のページを表示するため使用されることもあります。通常は、お客様のブラウザの設定によりクッキーの使用を制限することが可能ですが、当社サービスをご利用いただくにはクッキーの利用が必要となることがあります。当ウェブサイトでは、PCサイト用、スマートフォン用の表示切り替えや、CMS部でクッキーを使用しております。
                .child-list__row
                  dt 5. SSLセキュリティ通信について
                  dd 当サイトでは、お客様が入力された個人情報を安全に送信するため、SSL暗号化通信を採用しています。
                    br
                    | ※インターネットの性格上、当社が通信時のセキュリティを100%保証するものではありません。







